.nav__wrapper {
  display: flex;
  width: 100%;
  text-align: center;
}

.nav__list {
  display: grid;
  grid-template-columns: 160px 120px 245px 125px 350px;
  min-height: 122px;
  padding: 0;
  align-items: center;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #a8a8a8;
}

.nav-list__item {
  display: block;
  padding: 0 20px;
  background-color: #ffffff;
  cursor: pointer;

  &:nth-child(5n-1) {
    grid-column-start: 5;
  }

  &--current {
    cursor: default;
  }
}

.nav-list__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: #48494d;

  &--not-current:hover {
    color: #ff7931;
  }

  &--not-current:active {
    color: #48494d;
  }
}

.nav-list__item:nth-child(4) {
  padding: 25px 0 0 100px;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 65px 25px;
  text-align: start;
}


.nav__list-user {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  border-bottom: 1px solid #a8a8a8;
}

.nav-user__item {
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.nav-user__item:nth-child(1) {
  width: 27px;
  height: 24px;
  padding-right: 25px;
  background-image: url("../../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-user__item:nth-child(2) {
  width: 27px;
  height: 24px;
  padding-right: 10px;
  background-image: url("../../img/login.png");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-user__item:nth-child(3) {
  position: relative;
  width: 40px;
  height: 32px;
  padding-right: 10px;
  background-image: url("../../img/bascket.png");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-user__goods {
  position: absolute;
  top: 10px;
  left: 27px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #ff7931;
  font-size: 12px;
  cursor: pointer;
}

.nav2__list {
  display: flex;
  width: 100%;
  height: 53px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #a8a8a8;
}

.nav2-list__item {
  cursor: pointer;

  &:hover {
    color: #ff7931;
  }

  &:active {
    color: #48494d;
  }
}

.nav2-list__link--current {
  position: relative;
  font-weight: bold;
  cursor: default;

  &:hover {
    color: #48494d;
  }

  &::after {
    position: absolute;
    left: 50%;
    top: 39px;
    transform: translate(-50%, 0);
    width: 140%;
    height: 3px;
    content: "";
    background-color: #ff7931;
  }
}

.nav2-list__item:not(:first-child) {
  margin-left: auto;
}
