.search {
  margin-bottom: 80px;
}

.search__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  height: 47px;
}

.item__link {
  padding: 12px 25px;
  cursor: pointer;
}

.item__link--active {
  background-color: #f0f0f4;
  border-radius: 5px;
  font-weight: bold;
  cursor: default;
}
